*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


h1{
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: rgb(88, 3, 3);
    font-style: normal;
    font-weight: normal;
    background-color: rgb(3, 3, 3);  
    
}

div{    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px; 
   
    }

footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    font-size: 25px;
    color: rgb(255, 254, 254);
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    
}

img{
    max-width: 100%;
}

@media screen and (max-width:580px){
    .wraper .img{width: 100%;}
}

p{
    background-color:rgba(4, 58, 68, 0.404);
    color: rgb(176, 179, 6);
    font-size: 20px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    background-color: black;
   background-image: url(../CSS/FUNDO\ SITE\ \ \(5\).jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}



base{
    width: 1500px;
    margin: auto;
}

/*
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.bannersite{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.banners{
    width: 400%;
    height: 400px;
    display: flex;
}

.banners input{
    display: none;
}

.banner{
    width: 25%;
    position: relative;
    transition: 2s;
}

.banner img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio2:checked ~ .first{
    margin-left:0;
}

#radio3:checked ~ .first{
    margin-left:-25%;
}

#radio4:checked ~ .first{
    margin-left:-50%;
}

#radio5:checked ~ .first{
    margin-left:-75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}



/*
 top{
    padding: 0;
    margin: 0;
    height: 44px;
    background-image: url(img/pokemon-back.gif);
    background-repeat: no-repeat;
 }
/*